<% include _header %>
<h1>log in </h1>
<form action="/login" method="post">
	<input type="text" name="username" class="form-control" placeholder="username" required autofocus>
	<input type="text" name="password" class="form-control" placeholder="password" required>
	<input type="submit" value="login" class="btn btn-primary btn-lock">
</form>
<% include _footer %>